@import "~bootstrap/dist/css/bootstrap.min.css";

.device-container {
  // width: 512px;
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    width: 90vw;
  }

  // Small devices (landscape phones, 576px and up)
  // Medium devices (tablets, 768px and up)
  // Large devices (desktops, 992px and up)
  @media (min-width: 576px) and (max-width: 1199px) {
    width: 518px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 560px;
  }

  margin: 15px;

  &.failed-to-store {
    border-color: #b53535;
    color: #b53535;
  }

  &.is-active {
    .device-status {
      color: #12b152;
    }
  }

  &.is-non-active {
    &:not(:hover) {
      opacity: 0.6;
    }
    .device-status {
      color: #b53535;
    }
  }

  .device-details {
    font-size: 16px;

    background-color: #d8eef3;

    .device-icon-cell {
      flex: 0 0;
      padding: 0;

      .device-icon {
        min-height: 100%;
        min-width: 35px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;

        &.workstation {
          background-image: url('../../../assets/screen.svg');
        }
        &.server {
          background-image: url('../../../assets/server.svg');
        }
        &.mobile {
          background-image: url('../../../assets/mobile.svg');
        }
      }
    }

    .device-name {
      color: #007fa2;
    }

    .device-type, .device-status {
      font-weight: 600;
    }

    .device-status {
      text-align: right;
    }

    .device-type {
      font-size: 18px;
      line-height: 44px;
    }

    .device-ip {
      color: #545353;

      .device-ip-header {
        margin-right: 4px;
      }
    }
  }

  .device-events {
    font-size: 14px;

    .device-events-header {
      background-color: #f3f3f3;
      font-weight: 600;
    }

    .device-events-info {
      padding-left: 0px;
    }

    .is-security {
      font-weight: 600;

      &.is-high {
        color: #b53535;
      }

      &.is-medium {
        color: #c5b62f;
      }
    }
  }
}
