<div class="card device-container"
     [class.failed-to-store]="device.failedToStore"
     [ngClass]="device.status === deviceStatuses.active && 'is-active' ||
                device.status === deviceStatuses.inactive && 'is-non-active'">
  <div class="card-body device-details">
    <h5 class="card-title device-name">{{device.name}}</h5>
    <div class="container">
      <div class="row">
        <div class="col device-icon-cell">
          <div class="device-icon"
               [ngClass]="device.type"></div>
        </div>
        <div class="col device-type">
          {{device.type}}
        </div>
        <div class="col">
          <div class="row device-status justify-content-end">
            {{device.status || !device.failedToStore && 'Saving...' || device.isTemp && 'Not Saved'}}
          </div>
          <div class="row justify-content-end device-ip">
            <span class="device-ip-header">IP</span>
            <span>{{device.ipAddress}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush device-events"
      *ngIf="!device.isTemp">
    <li class="list-group-item device-events-header">Last Events:</li>
    <li *ngFor="let event of device.events"
        class="list-group-item"
        [ngClass]="{'is-security': event.type === eventTypes.security,
                    'is-high': event.severity === eventSeverities.high,
                    'is-medium': event.severity === eventSeverities.medium}">
      <div class="container">
        <div class="row">
          <div class="col-2 device-events-info">
            {{event.type}}
          </div>
          <div class="col-8 device-events-info">
            {{event.description}}
          </div>
          <div class="col-2 device-events-info">
            {{event.severity}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
