@import "~bootstrap/dist/css/bootstrap.min.css";

.device-container {
  // width: 512px;
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    width: 90vw;
  }

  // Small devices (landscape phones, 576px and up)
  // Medium devices (tablets, 768px and up)
  @media (min-width: 576px) and (max-width: 991px) {
    width: 360px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {
    width: 490px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 580px;
  }

  margin: 15px;

  .device-details {
    font-size: 16px;

    .device-status {
      text-align: right;
    }

    .device-ip {
      padding-right: 15px;
      padding-left: 15px;

      .device-ip-header {
        margin-right: 4px;
      }
    }
  }

  .device-events {
    font-size: 14px;

    .device-events-header {
      background-color: #eeeeee;
      font-weight: 600;
    }

    .device-events-info {
      padding-left: 0px;
    }
  }
}
