@import "../../common/style";

:host {
  background-color: #f9feff;

  max-height: calc(100% - #{$top-bar-height});
  max-width: 100%;

  display: block;
  overflow-y: auto;
}

.card-deck {
  margin: 16px 0;
}
